<div class='vote-container'>
  <div class='vote__prompt'>
    <span>VOTE</span>
    <p>Want to see this talk at PyLatam?</p>
    <p>CAST YOUR VOTE</p>
  </div>
  <form method="POST" action="{% url 'proposal_view' proposal.pk %}" id="vote-form">
    {% csrf_token %}
  <div class='vote__buttons'>
    <button class='ab action--no' id="standard-id-1" data-val="1"><i class="fas fa-times"></i></button>
    <button class='ab action--skip' id="standard-id-1" data-val="0"><i class="fas fa-forward"></i></button>
    <button class='ab action--yes' id="standard-id-2" data-val="2"><i class="fas fa-check"></i></button>
  </div>
  <input id='voteValue'name="vote" value="-1" type="hidden">


  {% if existing_vote %}
      <a href="/" class="btn btn-default btn-lg">Next Proposal &raquo;</a>
  {% endif %}
  <!-- <button type="Submit" class="btn btn-primary pull-right" id="save"
          {% if not existing_vote %}disabled="disabled"{% endif %} >Save Vote
  </button> -->
  </form>
</div>
