body{
  background-color: #C3D6E5;
  min-height:100vh;
}

h1{
  font-size: 2.3em;
  font-weight: 700;
  font-style: normal;
  color: #193B54;
}

section{
  margin-bottom: 20px;
  text-align: center;

}

section:first-of-type p{
  color:#3A7AAB;
  font-size: 25px;
  padding-top: 10px;
  text-align: center;
}

.body-border--bottom{
  position:fixed;
  padding:0;
  height:300px;
  bottom:0;
  left:0;
  width:100%;
  z-index:-1;
  opacity:0.8;
  background-image: url(../img/Wave1.svg), url(../img/Wave2.svg), url(../img/Wave3.svg);    background-size: 20vh 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}


.navbar-header img {
    height: 50px;
    float: left;
    padding: 4px 20px 4px 0;
}

.navbar-brand {
  padding: 15px 5px;
}

ul.nav.navbar-nav{
  float:right
}

.panel table {
    margin-bottom: 0;
}

.container-fluid h4{
  /* padding: 4% 0; */
  line-height: 1.8em;
  font-weight: 400;
}

#accept li, #unranked li {
    cursor: pointer;
}
#unranked li:hover {
    background-color: #f6f6f6;
}

#accept li {
    background-color: #f0fff0;
}
#accept li:hover {
    background-color: #e0ffe0;
}

.schedule-block {
    border: 1px solid #bbb;
    position: absolute;
    width:95%;
    margin-right:5%;
    background:rgba(200,200,200,0.3);
}

.block-header {
    display:flex;
    justify-content: space-between;
    width:100%;
    padding: 3px 5%;
    background-color: #BBB;
    font-weight: bold;
}

.block-body {
    width:100%;
    padding 1px 5%;
    font-size: 80%;
}

#available {
    position: fixed;
    right:0;
    width:25%;
    height: 50%;
    top: 49%;
    overflow-y: scroll;
    opacity: 0.9;
}

div#left-column, .table{
    background-color: rgba(255,255,255,.9);
    border-radius: 10px;
    padding: 20px;
}



.progress {
  height: 2px;
}


/* BACKEND PERCENTAGE BAR */

.percentage-bar {
  width:100%;
  border-radius: 2px;
  font-size: 3px;
  overflow:hidden;
}

.percentage-bar__deny { background-color: #d9534f; }
.percentage-bar__maybe { background-color: #f0ad4e; }
.percentage-bar__approve {  background-color: #5cb85c; }



/* VOTING MECHANISM */


.vote-container i {margin:0px;}

.vote-container{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  position:fixed;
  right:10px;
  bottom:10px;

}

.vote__prompt{
  display:flex;
  flex-direction:column;
  width:140px;
  box-sizing:border-box;
  color:#fff;
  overflow:hidden;
  max-height:17px;
  transition:0.2s;
}

.vote__prompt:hover{
  max-height:200px;
  cursor:default;
}

.vote__prompt span {
  font-size:12px;
  display:block;
  align-self:flex-end;
  background:#666;
  padding:2px 12px;
  border-radius:16px 16px 0px 0px;
}

.vote__prompt p {
  background:#666;
  font-size:12px;
  margin:0px;
  padding:4px 8px;
  text-align:center;
}

.vote__prompt p:first-of-type {
  border-radius:8px 0px 0px 0px;
  letter-spacing:0.5px;
  padding-top:8px;
}

.vote__prompt p:nth-of-type(2) {
  font-weight:bold;
  letter-spacing:1.5px;
  padding-bottom:8px;
}

.vote__buttons {
  width:200px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:4px;
  border-radius:35px;
  background: #dfbc47;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.action-bar:hover{cursor:pointer;}

.vote__buttons .ab {
  background:#fff;
  border:2.5px solid #dfbc47;
  outline:none;
  border-radius:50%;
  transition:0.2s;
  font-size:1.2rem;
  filter:blur(0px);
  z-index:5;
}

.vote__buttons .ab:hover{
  cursor:pointer;
  transform:scale(0.9);
  /* font-size:1.6rem; */

}

.vote__buttons .ab:active{
  transform:scale(0.75);
}

.action--no {
  color:#F44336;
  width:65px;
  height:65px;
}

.action--skip {
  color:#FF9800;
  width:50px;
  height:50px;
}

.action--yes{
  color: #4CAF50;
  width:65px;
  height:65px;
}

.respect{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

@media screen and (max-width: 768px) {
  .navbar-header img {
      padding: 4px 5px 4px 15px;
  }
}


@media screen and (max-width: 991px) {

  .respect{
      margin: 20px 0;

  }
  .vote__buttons {
    background: #16b0be;
  }
  .vote__buttons .ab {
    border:2.5px solid #16b0be;
  }
}

/* 3D BUTTONS */

.clear {
  clear: both;
}

.container {
  padding-top: 1em;
  margin:-5px auto;
  padding: 0;
  /* border-top:
    solid
    1px
    #CCC; */
}

button.button {
  font-size: 1.5em;
  display: block;
  position: relative;
  /* float: left; */
  /* width: 80%; */
  min-width: 200px;
  max-width: 300px;
  padding: 15px 0;
  margin: 10px auto 10px auto;
  font-weight: 400;
  text-align: center;
  /* line-height: 50px; */
  color: #FFF;
  border-radius: 5px;
  transition: all 0.2s ;
}

.btnBlueGreen {
  background: #00AE68;
}

.btnLightBlue {
  background: #5DC8CD;
}

.btnOrange {
  background: #FFAA40;
}

.btnPurple {
  background: #A74982;
}

/* 3D */
.btnBlueGreen.btnPush {
  box-shadow: 0px 5px 0px 0px #007144;
}

.btnLightBlue.btnPush {
  box-shadow: 0px 5px 0px 0px #1E8185;
}

.btnOrange.btnPush {
  box-shadow: 0px 5px 0px 0px #A66615;
}

.btnPurple.btnPush {
  box-shadow: 0px 5px 0px 0px #6D184B;
}

.btnPush:hover {
  margin-top: 15px;
  margin-bottom: 5px;
}

.btnBlueGreen.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #007144;
}

.btnLightBlue.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #1E8185;
}

.btnOrange.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #A66615;
}

.btnPurple.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #6D184B;
}
