{% extends "base.html" %}
{% load core_tags l10n %}

{% block body %}
    <h4>My Votes</h4>
    {% include 'proposals/includes/progress.html' %}
    <table class="table table-striped table-condensed" id="votes-table">
        <thead>
        <tr>
            <th data-column="title">Talk</th>
            <th data-column="vote">Vote</th>
            <th data-column="added_on" data-reverse="1">When</th>
            <th data-column="vote_tally">Vote Tally</th>
        </tr>
        </thead>
        <tbody>
        {% for proposal in proposals %}
            <tr>
                <td><a href="{% url 'proposal_view' proposal.pk %}">{{ proposal.title|truncatechars:80 }}</a></td>
                <td>
                    {% if proposal.user_vote == 2 %}
                        <span class="label label-success"><span class="glyphicon glyphicon-ok"></span></span>
                    {% elif proposal.user_vote == 0 %}
                        <span class="label label-warning"><span class="glyphicon glyphicon-warning-sign"></span></span>
                    {% else %}
                        <span class="label label-danger"><span class="glyphicon glyphicon-remove"></span></span>
                    {% endif %}
                </td>
                <td>{{ proposal.user_vote_date }}</td>
                <td>
                    {% localize off %}
                        <table class='percentage-bar'>
                            {% with total_votes=proposal.y_vote_count|add:proposal.n_vote_count|add:proposal.s_vote_count %}
                                <tr>
                                    <td width="{{ proposal.n_vote_count|percentage:total_votes }}%" class='percentage-bar__deny'>&nbsp;</td>
                                    <td width="{{ proposal.s_vote_count|percentage:total_votes }}%" class='percentage-bar__maybe'>&nbsp;</td>
                                    <td width="{{ proposal.y_vote_count|percentage:total_votes }}%" class='percentage-bar__approve'>&nbsp;</td>
                                </tr>
                            {% endwith %}
                        </table>
                    {% endlocalize %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock body %}
